.legal {
    margin: 1cm;
    font-size: 11pt;
}

.cabecera1-lega1 {
    font-size: 15pt;
}

.cabecera2-legal {
    font-size: 12pt;
}

.parrago-legal {
    text-align: justify;
    font-size: 11pt;
}